altair==6.0.0
altex==0.2.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
asn1crypto==1.5.1
async-generator==1.10
attrs==25.4.0
bcrypt==3.2.0
beautifulsoup4==4.14.3
blinker==1.9.0
boto3==1.42.34
botocore==1.42.34
brotli==1.2.0
cachetools==6.2.4
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.1
colorama==0.4.6
contourpy==1.3.3
cryptography==46.0.3
cssselect2==0.9.0
cycler==0.12.1
Deprecated==1.3.1
deprecation==2.1.0
ecdsa==0.19.1
entrypoints==0.4
Faker==40.1.2
fastapi==0.128.0
favicon==0.7.0
filelock==3.20.3
fonttools==4.61.1
fsspec==2026.2.0
gitdb==4.0.12
GitPython==3.1.46
greenlet==3.3.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
htbuilder==0.9.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.7.1
Jinja2==3.1.6
jmespath==1.1.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
lxml==6.0.2
Markdown==3.10.1
markdown-it-py==4.0.0
markdownlit==0.0.7
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mmh3==5.2.0
multidict==6.7.1
mypy_extensions==1.1.0
mysql-connector-python==9.5.0
narwhals==2.14.0
numpy==2.4.0
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.3
passlib==1.7.4
pikepdf==10.3.0
pillow==12.1.0
platformdirs==4.5.1
plotly==6.5.2
postgrest==2.28.0
prometheus_client==0.24.1
propcache==0.4.1
protobuf==6.33.2
pyarrow==22.0.0
pyasn1==0.6.1
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydeck==0.9.1
pydyf==0.12.1
Pygments==2.19.2
pyhtml2pdf==0.1.0
pyiceberg==0.11.0
PyJWT==2.10.1
pymdown-extensions==10.20.1
pyOpenSSL==25.3.0
pyparsing==3.3.2
pyphen==0.17.2
pyroaring==1.0.3
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-jose==3.5.0
pytz==2025.2
PyYAML==6.0.3
realtime==2.28.0
referencing==0.37.0
reportlab==4.4.7
requests==2.32.5
rich==14.3.3
rpds-py==0.30.0
rsa==4.9.1
s3transfer==0.16.0
selenium==4.40.0
setuptools==80.10.1
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowflake-connector-python==4.2.0
snowflake-snowpark-python==1.44.0
sortedcontainers==2.4.0
soupsieve==2.8.3
SQLAlchemy==2.0.45
st-annotated-text==4.0.2
st-theme==1.2.3
starlette==0.50.0
storage3==2.28.0
streamlit==1.52.2
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.7.8
streamlit-image-coordinates==0.4.0
streamlit-keyup==0.3.0
streamlit-notify==0.3.1
streamlit-shadcn-ui==0.1.19
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
streamlit_faker==0.0.4
StrEnum==0.4.15
strictyaml==1.7.3
supabase==2.28.0
supabase-auth==2.28.0
supabase-functions==2.28.0
tenacity==9.1.2
tinycss2==1.5.1
tinyhtml5==2.0.0
toml==0.10.2
tomlkit==0.14.0
tornado==6.5.4
trio==0.33.0
trio-typing==0.10.0
trio-websocket==0.12.2
types-certifi==2021.10.8.3
types-urllib3==1.26.25.14
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.40.0
validators==0.35.0
watchdog==6.0.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
wheel==0.46.3
wrapt==2.1.1
wsproto==1.3.2
yarl==1.22.0
zipp==3.23.0
zopfli==0.4.0
zstandard==0.25.0
